body
	margin: 0
	min-width: 1366px
	background-color: #F8F6F5
	color: #695A59
	font-family: 'Montserrat', sans-serif
	// font-family: 'Old Standard TT', serif
	font-size: 18px
	font-weight: 500
	line-height: 32px

.visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

.container
	width: 1166px
	margin: 0 auto

.header
	display: grid
	grid-template-columns: repeat(12, 1fr)
	grid-column-gap: 20px
	align-items: center
	padding-top: 10px
	padding-bottom: 10px
	min-height: 96px
	box-sizing: border-box
	font-size: 14px
	&-logo
		grid-column: 1 / span 4
		display: grid
		grid-template-columns: auto auto
		text-decoration: none
		color: #695A59
		p
			margin: 0
			line-height: 20px
		img
			padding-top: 5px
			padding-right: 10px
	&-phone
		grid-column: 7 / span 2
		display: grid
		grid-template-columns: auto auto
		
		line-height: 24px
		color: #695A59
		text-decoration: none
		span
			grid-column: 2
			text-decoration: underline
		&::before
			content: ''
			width: 18px
			height: 24px
			background-image: url("../img/phone.svg")
			background-repeat: no-repeat
			background-position: center
	&-address
		grid-column: 9 / span 3
		display: grid
		grid-template-columns: auto auto
		font-style: normal
		line-height: 24px
		&::before
			content: ''
			width: 16px
			height: 20px
			background-image: url("../img/pin.svg")
			background-repeat: no-repeat
			background-position: center

.humburger
	justify-self: end
	width: 36px
	height: 32px
	padding: 0
	background-color: transparent
	border: none
	&::before
		content: ''
		display: inline-block
		width: 100%
		height: 100%
		background-image: url("../img/hum.svg")
		background-repeat: no-repeat
		background-position: center
		cursor: pointer


// Promo
.promo
	min-height: 520px
	background-image: url('../img/promo-back.jpg')
	background-repeat: no-repeat
	background-position: center bottom 80px
	background-size: cover
	&-container
		display: grid
		grid-template-columns: repeat(12, 1fr)
		grid-template-rows: repeat(3, auto) 
		grid-column-gap: 20px
		align-items: start
		padding: 80px 0 0 0
		img
			grid-column: 7 / span 6
			grid-row: 1 / span 4
	&-lead
		grid-column: 2 / span 5
		margin: 0
		font-family: 'Old Standard TT', serif
		font-size: 46px
		line-height: 64px
		text-transform: uppercase
		color: #eee9e6
	&-text
		grid-column: 2 / span 5
		margin: 0 0 30px 0
		color: #EEE9E6
		opacity: 0.6
	&-button
		grid-column: 2 / span 3
		align-self: start
		justify-self: start
		margin-top: 20px
		text-decoration: none
		color: #A78587
		font-weight: 700
		font-size: 12px
		line-height: 20px

.about
	display: grid
	grid-template-columns: repeat(12, 1fr)
	grid-column-gap: 20px
	padding-top: 65px
	padding-bottom: 95px
	a
		color: #9A8584
	&-text
		margin: 0 0 15px 0
	&>*
		grid-column: 2 / span 6
	header
		grid-column: 1 / -1
	&-figure
		grid-column: 2 / -2
		display: grid
		grid-template-columns: auto auto
		grid-template-rows: auto auto
		grid-column-gap: 40px
		margin: 27px 0 40px 0
		img
			grid-area: 1 / 1 / 3 / 2
		figcaption
			grid-area: 2 / 2 / 3 / 3
			font-size: 14px
			line-height: 24px
	&-aside
		grid-column: 9 / span 3
		grid-row: 2 / span 3
		font-size: 14px
		line-height: 24px
	&-beautiful
		grid-column: 1 / -1
		margin: 30px 0 40px 0
		padding: 72px 100px 90px 100px
		font-size: 26px
		line-height: 48px
		color: #ffffff
		background: url("../img/bg-aside.jpg")
		background-repeat: no-repeat
		background-position: center
		background-size: cover

// The Best
.best
	padding-top: 105px
	&-lead
		margin: 0
		font-family: 'Old Standard TT', serif
		font-weight: 400
		font-size: 42px
		line-height: 54px
		text-transform: uppercase
		color: #695A59
	&-list
		padding: 0
		margin: 14px 0 0 0
		list-style: none
		display: grid
		grid-template-columns: repeat(12, 1fr)
		gap: 20px
	&-item
		grid-column: span 4
		display: grid
		grid-template-rows: 240px auto
		background-color: #FFFFFF
		&-horizontal
			grid-column: span 6
			grid-template-columns: repeat(6, 1fr)
			grid-template-rows: auto
			column-gap: 20xp
			&-img
				grid-column: 1 / span 2
				img
					display: block
					width: 100%
					height: 100%
					object-fit: covers
			&-content
				grid-column: 3 /  -1
				padding: 35px 35px 40px 35px
				h3
					margin: 0 0 22px 0
					font-family: 'Old Standard TT', serif
					font-weight: 400
					font-size: 32px
					line-height: 36px
				.best-item-price
					font-weight: 700
					font-size: 22px
					line-height: 24px
					color: #343235
				.best-item-notice
					font-weight: 500
					font-size: 14px
					line-height: 20px
					color: #695A59
					opacity: 0.6
				a
					font-weight: 700
					font-size: 12px
					line-height: 16px
					text-transform: uppercase
					color: #9A8584
		&-content
			padding: 35px 35px 40px 35px
			h3
				margin: 0 0 22px 0
				font-family: 'Old Standard TT', serif
				font-weight: 400
				font-size: 32px
				line-height: 36px
			.best-item-price
				font-weight: 700
				font-size: 22px
				line-height: 24px
				color: #343235
			.best-item-notice
				font-weight: 500
				font-size: 14px
				line-height: 20px
				color: #695A59
				opacity: 0.6
			a
				font-weight: 700
				font-size: 12px
				line-height: 16px
				text-transform: uppercase
				color: #9A8584

.slider
	position: relative
	padding-top: 120px
	box-sizing: border-box
	
	&-lead
		margin: 0
		font-family: 'Old Standard TT', serif
		font-weight: 400
		font-size: 42px
		line-height: 54px
		text-transform: uppercase
		color: #695A59
	&-bar
		display: flex
		justify-content: center
		flex-wrap: wrap
		&-content
			display: flex
			justify-content: space-between
			background: rgba(52, 50, 53, 0.9)
		&-headline
			font-weight: 400
			font-size: 32px
			line-height: 36px
			color: #F5F2ED
		&-btn
			position: absolute
			widows: 72px
			height: 72px
			left: -32px
			top: -10
			bottom: -10
			border: none
			border-radius: 100%
			background-color: #343235
			&-next
				left: auto
				right: -32px
				top: 0
				bottom: 0
				margin: auto

